

<!-- <div *ngFor="let item of products">
    <h1>
      NAME: {{ item.name }} PRICE: {{ item.price }} 
      <span [style.color]="item.available ? 'green' : 'red'">
        Stock: {{ item.available ? 'Available' : 'Not Available' }}
      </span>
      <hr>
    </h1>
  </div> -->
  <span>Search</span>:-<input type="search" [(ngModel)]="searchText"  name="search" id="" aria-label="search">
  <table>
    <tr *ngFor="let item of products |filter=searchText">
      <ng-container *ngIf="item.available; else notAvailable">
        <td >{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td style="color: green;">Available</td>
      </ng-container>
      <ng-template #notAvailable>
        <td >{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td style="color: red;">Not Available</td>
      </ng-template>
    </tr>
  </table>

  