.counter {
  
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: darkslategray;
  }