<div *ngFor="let item of  todos">
<table>
    <tr>
        <ng-container *ngIf="item.completed; else notCompleted">
            <td><h4>{{item.title}}--</h4></td>

            <td><h4>{{item.description}}--</h4></td>
    
            <td style="color: green;"><h4>Completed</h4></td>
        </ng-container>
       <ng-template    #notCompleted>
        <td><h4>{{item.title}}--</h4></td>

        <td><h4>{{item.description}}--</h4></td>

        <td style="color: red;"><h4>Not Completed</h4></td>
       </ng-template>
    </tr>
</table>

</div>